.sidebar {
  height: 100vh;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  padding: 10px 5px;
  text-align: center;
  text-transform: capitalize;
}
.sidebar ul li a {
  text-decoration: none;
}
